.code-btn {
    position: absolute;
    border-radius: 0 0 0 0.5em;
    background-color: #DEDEDE;
    width: 6em;
    line-height: 2.0em;
    font-size: 1.2em;
    font-weight: bold;
}
.code-btn:hover {
    background-color: #EFEFEF;
}
.code-copy-btn {
    top: 0px;
    right: 0px;
}
.code-bundle-btn {
    top: 0px;
    right: 6em;
}
