name: format

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1

    - name: Set up Python
      uses: actions/setup-python@v1

    - name: Install dependencies
      run: pip3 install .[dev]

    - name: Run tests
      run: |
        oj-verify -h
        pylint --disable=all --enable=unused-import onlinejudge_verify tests setup.py
        isort --check-only --diff --recursive onlinejudge_verify tests setup.py
        yapf --diff --recursive onlinejudge_verify tests setup.py | tee yapf.patch && test ! -s yapf.patch
        mypy onlinejudge_verify setup.py
