name: test

on: [push, pull_request]

jobs:
  build:
    strategy:
      matrix:
        # os: [ubuntu-latest, windows-latest, macos-latest]  # now macos-latest doesn't work due to their bug, which g++ is not g++. see https://github.com/online-judge-tools/verification-helper/pull/255
        os: [ubuntu-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v1

    - name: Set up Python
      uses: actions/setup-python@v1

    - name: Install dependencies
      run: pip3 install .[dev]

    - name: Run tests
      run: |
        oj-verify -h
        python3 setup.py test
      shell: bash
